// Place all the styles related to the godmakesme controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.head {
    color : #FF7F50
    
}


.head2 {
    font-size : 18px;
    
    
}



.head3 {
    font-size : 18px;
    
}

.head4 {
    font-size : 18px;
    
}




